<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="character_details">
        <div class="character_bgc">
            <img src="data/10000089/58caba691327772ae49b7b008f1802d4.png" alt="">
        </div>
        <div class="character_name_and_skill clearfix">
            <div class="character_name_info">
                <div class="element">
                    <img src="data/10000089/avatar_prop_42.png" alt="">
                </div>
                <div class="name_star_level">
                    <div class="name_level">
                        <div class="name">芙宁娜</div>
                        <div class="level">Lv.90</div>
                    </div>
                    <div class="star">
                        <ul>
                            <li>★</li>
                            <li>★</li>
                            <li>★</li>
                            <li>★</li>
                            <li>★</li>
                        </ul>
                    </div>

                </div>
                <!-- 好感度 -->
                <div class="fetter">好感度:10</div>
            </div>
            <div class="constellations">
                <ul>
                    <li>
                        <div class="container">
                            <img src="data/10000089/3a385d161f2f2ed7059d5ecc3bd60a28.png" alt="">
                        </div>
                        <span>「爱是难驯鸟，哀乞亦无用。」</span>
                    </li>
                    <li>
                        <div class="container">
                            <img src="data/10000089/d946273a6b107fa2c8b1a57ffc50ca68.png" alt="">
                        </div>
                        <span>「女人皆善变，仿若水中萍。」</span>
                    </li>
                    <li class="highlight">
                        <div class="container">
                            <img src="data/10000089/4aefea8c7a2d19a92b5506e7e90f8afc.png" alt="">
                        </div>
                        <span>「秘密藏心间，无人知我名。」</span>
                    </li>
                    <li>
                        <div class="container">
                            <img src="data/10000089/094311f6cb5655870af2bf2eb1d690ed.png" alt="">
                        </div>
                        <span>「若非处幽冥，怎知生可贵！」</span>
                    </li>
                    <li>
                        <div class="container">
                            <img src="data/10000089/92dba37b2b1c6f85cc4e12a92df7237f.png" alt="">
                        </div>
                        <span>「我已有觉察，他名即是…！」</span>
                    </li>
                    <li>
                        <div class="container">
                            <img src="data/10000089/41861763a038895d546cbfca2e17b22a.png" alt="">
                        </div>
                        <span>「诸君听我颂，共举爱之杯！」</span>
                    </li>
                </ul>
            </div>
            <div class="character_skill">
                <ul>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/b99a79a0d575f4a681a11b5c444ea925.png" alt="">
                            <span class="badge">1</span>
                        </div>
                        <span>普通攻击·独舞之邀</span>
                    </li>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/3d279dde3c57597c320cbb3a43d09b42.png" alt="">
                            <span class="badge">13</span>
                        </div>
                        <span>孤心沙龙</span>
                    </li>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/6a2cc2760a98b9e3a283df0ecff39148.png" alt="">
                            <span class="badge">1</span>
                        </div>
                        <span>万众狂欢</span>
                    </li>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/2abc36706de52f254e35db2b1073d1fb.png" alt="">
                            <span class="badge">1</span>
                        </div>
                        <span>停不了的圆舞</span>
                    </li>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/14a79b256d045eb0b6ec227395f0412c.png" alt="">
                            <span class="badge">1</span>
                        </div>
                        <span>无人听的自白</span>
                    </li>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/deed4112db383d0c144793b8b504dd51.png" alt="">
                            <span class="badge">1</span>
                        </div>
                        <span>瀚海亦舞台</span>
                    </li>
                    <li>
                        <div class="circle-container">
                            <img src="data/10000089/deed4112db383d0c144793b8b504dd51.png" alt="">
                            <span class="badge">1</span>
                        </div>
                        <span>瀚海亦舞台</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="character_base_properties">
            <span class="title">角色属性</span>
            <div class="properties">
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">
                        <div class="base">123</div>
                        <div class="add">+456</div>
                    </div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute"></div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
                <div class="one_property">
                    <div class="icon_name">
                        <img src="" alt="">
                        <span>生命值上限</span>
                    </div>
                    <div class="calute">123</div>
                    <div class="sum">1234</div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="character_weapon">
        <div class="title">
            <span>武器</span>
        </div>
        <div class="weapon_info">
            <img src="data/10000089/5177a0de7b19ca84b484a690b26c7e22.png" alt="">
            <div class="info">
                <div class="name">
                    <div class="key">静水流涌之辉</div>
                    <div class="value">Lv.90</div>
                </div>
                <div class="attack">
                    <div class="key">基础攻击力</div>
                    <div class="value">542</div>
                </div>
                <div class="other">
                    <div class="key">暴击伤害</div>
                    <div class="value">88.2%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="relics">
        <div class="title">
            <span>圣遗物</span>
        </div>
        <div class="use_relic">
            <div class="relic">
                <div class="info">
                    <div class="name_and_level">
                        <div class="name">黄金乐曲的变奏</div>
                        <div class="level">Lv.20</div>
                    </div>
                    <img src="data/10000089/f580c70515e1c1096cc739feddaba5f0.png" alt="">
                </div>
                <div class="main">
                    <div class="key">生命值</div>
                    <div class="value">4780</div>
                </div>
                <div class="others">
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                </div>
            </div>
            <div class="relic">
                <div class="info">
                    <div class="name_and_level">
                        <div class="name">黄金飞鸟的落羽</div>
                        <div class="level">Lv.20</div>
                    </div>
                    <img src="data/10000089/374057a4b5d029b2389e8e1ce7423942.png" alt="">
                </div>
                <div class="main">
                    <div class="key">生命值</div>
                    <div class="value">4780</div>
                </div>
                <div class="others">
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                </div>
            </div>
            <div class="relic">
                <div class="info">
                    <div class="name_and_level">
                        <div class="name">黄金时代的先声</div>
                        <div class="level">Lv.20</div>
                    </div>
                    <img src="data/10000089/8ad52b470b459949a8cf7119a63df1a9.png" alt="">
                </div>
                <div class="main">
                    <div class="key">生命值</div>
                    <div class="value">4780</div>
                </div>
                <div class="others">
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                </div>
            </div>
            <div class="relic">
                <div class="info">
                    <div class="name_and_level">
                        <div class="name">黄金之夜的喧嚣</div>
                        <div class="level">Lv.20</div>
                    </div>
                    <img src="data/10000089/8b31b21739b713787e0973217d826099.png" alt="">
                </div>
                <div class="main">
                    <div class="key">生命值</div>
                    <div class="value">4780</div>
                </div>
                <div class="others">
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                </div>
            </div>
            <div class="relic">
                <div class="info">
                    <div class="name_and_level">
                        <div class="name">破冰踏雪的回音</div>
                        <div class="level">Lv.20</div>
                    </div>
                    <img src="data/10000089/98f1c7e56f87126ae0305a912c813d9a.png" alt="">
                </div>
                <div class="main">
                    <div class="key">生命值</div>
                    <div class="value">4780</div>
                </div>
                <div class="others">
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                    <div class="property">
                        <div class="key">暴击伤害</div>
                        <div class="value">28.8%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>